@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Monoton&family=Oleo+Script:wght@700&family=Righteous&display=swap');

:root {
    --body: #221F20;
    --green: #247003;
    --blue: #298ce3;

    --twitter: #298ce3;
    --linkedin: #298ce3;
    --github: #298ce3;
    --gmail: #298ce3;
    --codepen: #298ce3;
    --telegram: #298ce3;
}

body {
    background-color: var(--body);
}

.title-header h1 {
    font-family: 'Monoton', cursive;
    color: #fff;
    text-align: center;
    font-size: 100px;
    cursor: default;

}

.title-header h1 span {
    transition: all 0.4s ease 0s;
}

.title-header h1 span:hover {
    color: var(--blue);
}

.img-header {
    height:30px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
}



.title-header p {
    font-family: 'Acme', cursive;
    color: var(--blue);
    font-style: italic;
    text-align: center;
    cursor: default;
}

.header-social {
    text-align: center;
    font-family: 'Acme', cursive;
    color: var(--blue);
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    font-size: 20px;
}


.header {
    background-color: #000;
    padding: 0px;
    margin:0px;
}

.header-languages {
    position: relative;
    padding: 0px 20px;
    text-decoration: none;
    display: inline-block;
}










/* REDES SOCIALES DEL HEADER */

.container {
    text-align: center;
}

.header-social {
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.social-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.social-container .social-card {
    position: relative;
    margin: 5px;
}

.social-container .social-card .social-face {
   transition: 0.5s; 
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   text-align: left;
   left: 2px;
}

.social-content {
    position: relative;
    display: inline-block;
    font-family: 'Acme', cursive;
    text-align: left;
    width: 100%;
}

.header-social .social-content p {
    text-decoration: none;
    display: inline;
    top:-6px;
    cursor: pointer;
    transition: 0.5s;
    margin-top:10px;
    margin-left: 4px;
    margin-right: 2px;
    visibility: hidden;
    opacity:0;
    position: absolute;
    text-align: center;
}

.button_a:hover .social-content p {
    visibility: visible;
    opacity: 1;
}

.header-social .social-content .svg-social-twitter {
    -webkit-mask: url(../imgs/social/twitter.svg) no-repeat 100% 100%;
    background: #fff;
    height: 25px;
    width: 25px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 6px;
    
}

.header-social .button_a:hover .social-content .txt-social-twitter {
    color: var(--twitter);
}

.header-social  .button_a:hover .social-content .svg-social-twitter {
    background: var(--twitter);
}

.header-social .social-content .svg-social-linkedin {
    -webkit-mask: url(../imgs/social/linkedin.svg) no-repeat 100% 100%;
    background: #fff;
    height: 25px;
    width: 25px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 6px;
}

.header-social .button_a:hover .social-content .txt-social-linkedin {
    color: var(--linkedin);
}

.header-social .button_a:hover  .social-content .svg-social-linkedin {
    background: var(--linkedin);
}

.header-social .social-content .svg-social-github {
    -webkit-mask: url(../imgs/social/github.svg) no-repeat 100% 100%;
    background: #fff;
    height: 25px;
    width: 25px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 6px;
}

.header-social .button_a:hover .social-content .txt-social-github {
    color: var(--github);
}

.header-social .button_a:hover  .social-content .svg-social-github {
    background: var(--github);
}

.header-social .social-content .svg-social-gmail {
    -webkit-mask: url(../imgs/social/gmail.svg) no-repeat 100% 100%;
    background: #fff;
    height: 25px;
    width: 25px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 6px;
}

.header-social .button_a:hover .social-content .txt-social-gmail {
    color: var(--gmail);
}

.header-social .button_a:hover  .social-content .svg-social-gmail {
    background: var(--gmail);
}

.header-social .social-content .svg-social-codepen {
    -webkit-mask: url(../imgs/social/code.svg) no-repeat 100% 100%;
    background: #fff;
    height: 25px;
    width: 25px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 6px;
}

.header-social .button_a:hover .social-content .txt-social-codepen {
    color: var(--codepen);
}

.header-social .button_a:hover  .social-content .svg-social-codepen {
    background: var(--codepen);
}

.header-social .social-content .svg-social-telegram {
    -webkit-mask: url(../imgs/social/telegram.svg) no-repeat 100% 100%;
    background: #fff;
    height: 25px;
    width: 25px;
    transition: 0.5s;
    display: inline-block;
    margin-top: 6px;
}

.header-social .button_a:hover .social-content .txt-social-telegram {
    color: var(--telegram);
}

.header-social .button_a:hover  .social-content .svg-social-telegram {
    background: var(--telegram);
}



/* REPOSITORIOS */
.header-repositories {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #3E77BF;
    margin-bottom: 40px;
}



.container-repositories {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container-repositories .box-repositories {
    position: relative;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid #000;*/
    transition:all .5s ease-in-out;
    background: var(--body); 
    margin-bottom: 10px;
}
/*
.container-repositories .box-repositories:hover {
    border: 2px solid var(--green);
}
*/

.container-repositories .box-repositories:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;


    z-index: -1;
    transition: 0.5s;

    /*
    background: linear-gradient(90deg,rgba(119,119,119,1) 0%, rgba(255,255,255,1) 69%); 
    */
    background: #fff;
    
    transform: skew(2deg,2deg);
}

.container-repositories .box-repositories:hover::before {
    transform: skew(-2deg,-2deg);
    background-color: var(--blue);
}

.box-repositories .content-repositories {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.box-repositories .content-repositories h4 {
    position: relative;
    top: 20px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    /*color: rgba(255, 255, 255, .05);*/
    transition: 0.5s;
    color: #fff;
    font-family: 'Lobster', cursive;
}

.box-repositories:hover .content-repositories h4 {
    top: 0px;
    color: var(--blue);
}

.box-repositories .content-repositories .arrow {
    height: 50px;
    position: absolute;
    opacity: 0;
    top:20px;
    left:86%;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1;
}

.box-repositories:hover .content-repositories .arrow {
    opacity: 0.2;
    visibility: visible;
}

.box-repositories .content-repositories p  {
    position: relative;
    margin: 20px 0 0;
    padding: 0px 20px;
    text-decoration: none;
    display: inline-block;

    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box-repositories:hover .content-repositories p {
    transform:translateY(-20px);
    opacity: 1;
    visibility: visible;
}

.img-language {
    height:30px;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}

.img-language-header {
    height:40px;
    display: inline;
    margin-top: -10px;
}


.link-repositories {
    margin:15px;
}




/* BOTON */

.button_b {
    color:#fff ;
    text-decoration: none;
    /*background-color: #3E77BF;*/
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border-width: 2px;
    border-color: #fff;
    transition: all 0.4s ease 0s;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}

.button_b:hover {
    /*text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);*/
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    color:var(--blue);
}

.button_a {
    text-decoration: none;
    /*background-color: #3E77BF;*/
    padding-right:7px;
    padding-left: 7px;
    padding-top: 2px;
    border-radius: 50px;
    display: inline-block;
    border-width: 2px;
    border-color: #fff;
    transition: all 0.4s ease 0s;
    font-family: 'Lobster', cursive;
    width: 45px;
    margin-bottom: 5px;
}

.button_a:hover {
    /*text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);*/
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    width: 180px;
    border-color: var(--blue);
    /*box-shadow: 0 0px 6px 0 #3E77BF, 0 0px 6px 0 #3E77BF;*/
}

/* CAMBIAR EL ANCHO DE LOS QUE SON MAS GRANDES */
.btn-twitter.button_a:hover {
    width: 185px;
}

.btn-linkedin.button_a:hover {
    width: 170px;
}

.btn-github.button_a:hover {
    width: 170px;
}

.btn-gmail.button_a:hover {
    width: 260px;
}

.btn-codepen.button_a:hover {
    width: 185px;
}

.btn-telegram.button_a:hover {
    width: 150px;
}

.btn-twitter:hover {
    border-color: var(--twitter);
}

.btn-linkedin:hover {
    border-color: var(--linkedin);
}

.btn-github:hover {
    border-color: var(--github);
}

.btn-gmail:hover {
    border-color: var(--gmail);
}
.btn-codepen:hover {
    border-color: var(--codepen);
}
.btn-telegram:hover {
    border-color: var(--telegram);
}